.newsst {
  /* font-size: 50px; */
  width: 100%;
  /* font-family: "Roboto", sans-serif; */
}

.artikel {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.gmbr {
  width: 90%;
}

@media screen and (max-width: 980px) {
  .gmbr {
    width: 100%;
  }
  .artikel {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
}
